/*.gxp-icon-zoombox {
  background-image: url(magnifier_zoom.png);
}*/

.x-btn .gxp-icon-zoom, .x-tree-node .gxp-icon-zoom {
    background-image: url(magnifier_zoom.png);
}

.x-btn .gxp-icon-pan, .x-tree-node .gxp-icon-pan {
	background-image: url(hand.png);
}

/* gxp_spatial_selector */
.x-btn .gxp-icon-select-buffer, .x-menu-item .gxp-icon-select-buffer, .x-tree-node .gxp-icon-select-buffer {
    background-image: url(../img/icon_radar.png) !important;
}
.x-btn .gxp-icon-select-polygon, .x-menu-item .gxp-icon-select-polygon, .x-tree-node .gxp-icon-select-polygon {
   background-image: url(../img/polygon.png) !important;
}

div.map-overlay {
	left: 10px;
	right: initial;
}